* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-image: url("");
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/background.png") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.new-background{
    background-image: url("../assets/background2.png");
}

.wrapper{
    width: 380px;
    background: rgba(255, 248, 235, 0.45);
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: #3D2B1F;
    border-radius: 20px;
    padding: 30px 40px;
    box-shadow: 0 15px 35px rgba(0,0,0,.15);
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255,255,255,.8);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #3D2B1F;
    padding: 20px 45px 20px 20px;
    text-align: end;
}

.input-box #first-team{
    background: #9CBAA5;
}

.input-box #second-team{
    background: #F2A35F;
}

.input-box input::placeholder{
    color: #3D2B1F;
}

.wrapper .ply-btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: background-color .5s;
}

.ply-btn:hover{
    background-color: #E6B04A;
    color: white;
}


.board {
    width:620px;
    height:620px;
    display:flex;
    flex-wrap:wrap;
    margin:auto;
}


.sqr {
    width: calc(100% / 3);
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 3px solid #000;
    font-size: 64px;
    cursor: pointer;
    box-shadow: inset 0px 4px 12px 0px rgba(0, 0, 0, 0.20);
    border-radius: 8px;
    transition: all 0.2s ease;
}

.qus{
    position: fixed;
    width: 700px;
    height: 380px;
    background: rgba(0, 0, 0, 0.50);
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: #E6B04A;
    border-radius: 20px;
    padding: 0px 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,.15);
    display: flex;
    align-items: center;
    flex-direction: column;
  
    animation-name: zoomInAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.letter{
    width: 50px;
    background: black;  
    text-align: center;
}

.q-menu-btn{
    width: 40%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: background-color .5s;
}

.q-menu-btn:hover{
    background-color: red;
    color: white;
}

.answer-menu{
    position: fixed;
    width: 700px;
    height: 380px;
    background: rgba(0, 0, 0, 0.50);
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: #E6B04A;
    border-radius: 20px;
    padding: 30px 40px;
    box-shadow: 0 15px 35px rgba(0,0,0,.15);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.team-btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 80px;
}

.q-btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#no-answer-btn{
    position: fixed;
    margin-bottom: 120px;
    width: 20%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: background-color .5s;
}

#no-answer-btn:hover{
    background-color: red;
}

#team-1, #team-2, .answer-btn{
    width: 30%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: background-color .5s;
}
#team-1{
    background-color: #9CBAA5;
}

#team-2{
    background-color: #F2A35F;
}

#team-1:hover, #team-2:hover{
    background-color: red;
}

body.team1-turn .sqr:hover {
    background-color: #9CBAA5;
    transform: translateY(-3px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
}

body.team2-turn .sqr:hover {
    background-color: #F2A35F;
    transform: translateY(-3px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
}

@keyframes zoomInAnimation {
    0% { transform: scale(0); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

.winner-screen {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .8);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: winnerAnimation .6s ease;
}

.winner-screen h1 {
    font-size: 70px;
    color: white;
    margin-bottom: 30px;
    animation-name: slideLeftAnimation;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;

}

.winner-screen button {
    padding: 15px 35px;
    font-size: 22px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, .5);
    transition: background-color .5;
}

.winner-screen button:hover{
    background-color: blanchedalmond;
}


button{
    transition: all 0.2s ease;
}

button:hover{
    transform: translateY(-3px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);

}



.hidden {
    display: none;
  /* visibility: hidden; */
}

@keyframes slideLeftAnimation {
  0% { transform: translateX(-100px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

