* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-image: url("");
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/background.png") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.new-background{
    background-image: url("../assets/background2.png");
}

.wrapper{
    width: 380px;
    background: rgba(255, 248, 235, 0.45);
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: #3D2B1F;
    border-radius: 20px;
    padding: 30px 40px;
    box-shadow: 0 15px 35px rgba(0,0,0,.15);
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255,255,255,.8);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #3D2B1F;
    padding: 20px 45px 20px 20px;
    text-align: end;
}

.input-box #first-team{
    background: #9CBAA5;
}

.input-box #second-team{
    background: #F2A35F;
}

.input-box input::placeholder{
    color: #3D2B1F;
}

.wrapper .ply-btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: background-color .5s;
}

.ply-btn:hover{
    background-color: #E6B04A;
    color: white;
    transition: 0.3s;
}


.board {
    width:620px;
    height:620px;
    display:flex;
    flex-wrap:wrap;
    margin:auto;
}


.sqr {
    width: calc(100% / 3);
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 3px solid #000;
    font-size: 64px;
    cursor: pointer;
}

.sqr:hover{
    background-color: #F2A35F;
}



.hidden {
    display: none;
  /* visibility: hidden; */
}


